[Unit]
Description=Service that handle Horn Sounds for Vehicle Safety Systems

[Service]
User=scootercontrol
Group=scootercontrol
SupplementaryGroups=audio gpio
Environment="PATH=$PATH"
ExecStart=/usr/bin/audioscootercontrold
WorkingDirectory=/scooter-control/

Restart=always
RestartSec=1s

StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=audioscootercontrold

[Install]
WantedBy=default.target
